__pycache__/attention.cpython-312.pyc
__pycache__/dataset.cpython-312.pyc
__pycache__/encoding.cpython-312.pyc
__pycache__/tokeniser.cpython-312.pyc
__pycache__/trainingSamplesBuilder.cpython-312.pyc
__pycache__/transformerblock.cpython-312.pyc
__pycache__/transformers.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
todo.py
.DS_Store
experiments/.DS_Store
experiments/__pycache__/matmulCPP.cpython-312.pyc
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
project/doc
claude
project-files
test.txt
train.txt

zephyra/embeddings/__pycache__/rotaryembeddings.cpython-312.pyc
zephyra/model/__pycache__/zephyra_model.cpython-312.pyc
zephyra/model/__pycache__/zephyrablock.cpython-312.pyc
zephyra/utills/__pycache__/utils.cpython-312.pyc
